@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
h1 {
  text-align: center;
}

.my-apis {
  display: flex;
  flex-wrap: wrap;
}

.my-api {
  width: 400px;
  margin: 1em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  grid-template-rows: 3rem 1rem 4rem 3rem;
  grid-gap: 0.6rem;
  border: solid black 1px;
  border-radius: 8px;
  background-color: coral;
  box-shadow: 2px 4px 10px black;
}

.api-name {
  grid-column: span 3;
  grid-row: 1;
  text-align: center;
  margin-top: 0.5rem;
}

.api-name a {
  text-decoration: none;
  color: darkslategrey;
  font-size: 1.2rem;
  cursor: pointer;
}

.api-name a:hover {
  color: black;
}

.api-description {
  grid-column: span 3;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  font-size: 1.4rem;
  font-weight: 600;
  overflow-y: auto;
}

.api-auth {
  grid-column: 1 / span 1;
  grid-row: 4;
  justify-self: left;
}
.api-https {
  grid-column: 3 / span 1;
  grid-row: 4;
  justify-self: center;
}
